<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
{{ if eq (.Lang) ("ja") }}
<title>ミニ四駆で障害を乗り越えろ{{ if eq (.Mode) ("hard")}}[むずかしい]{{ end }}</title>
{{ end }}
{{ if eq (.Lang) ("en") }}
<title>Operate Mini-4WD, and clear the course!!!{{ if eq (.Mode) ("hard")}}[Hard]{{ end }}</title>
{{ end }}
<link href="static/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/acorn_interpreter.js"></script>
<script type="text/javascript" src="static/js/blockly_compressed.js"></script>
<script type="text/javascript" src="static/js/blocks_compressed.js"></script>
<script type="text/javascript" src="static/js/javascript_compressed.js"></script>
<script type="text/javascript" src="static/js/blocks/webapi.js"></script>
<script type="text/javascript" src="static/js/generators/javascript/webapi.js"></script>
<script type="text/javascript" src="static/js/blocks/my_text.js"></script>
<script type="text/javascript" src="static/js/generators/javascript/my_text.js"></script>
<script type="text/javascript" src="static/js/wait_block.js"></script>

{{ if eq (.Lang) ("ja") }}
<script type="text/javascript" src="static/js/msg/js/ja.js"></script>
<script type="text/javascript" src="static/js/blocks/webapi_ja.js"></script>
<script type="text/javascript" src="static/js/wait_block_ja.js"></script>
{{ end }}
{{ if eq (.Lang) ("en") }}
<script type="text/javascript" src="static/js/msg/js/en.js"></script>
<script type="text/javascript" src="static/js/blocks/webapi_en.js"></script>
<script type="text/javascript" src="static/js/wait_block_en.js"></script>
{{ end }}

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarItems">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
{{ if eq (.Lang) ("ja") }}
      <a class="navbar-brand" href=".">ミニ四駆で障害を乗り越えろ{{ if eq (.Mode) ("hard")}}[むずかしい]{{ end }}</a>
{{ end }}
{{ if eq (.Lang) ("en") }}
      <a class="navbar-brand" href="index_en.html">Operate Mini-4WD, and clear the course!!!{{ if eq (.Mode) ("hard")}}[Hard]{{ end }}</a>
{{ end }}
    </div>

    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="nav navbar-nav">
        <li class="dropdown">
{{ if eq (.Lang) ("ja") }}
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ことば</a>
{{ end }}
{{ if eq (.Lang) ("en") }}
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
{{ end }}
          <ul class="dropdown-menu">
{{ if eq (.Mode) ("normal")}}
            <li ><a href="index.html">にほんご</a></li>
            <li ><a href="index_en.html">English</a></li>
{{ end }}
{{ if eq (.Mode) ("hard")}}
            <li ><a href="index_hard.html">にほんご</a></li>
            <li ><a href="index_en_hard.html">English</a></li>
{{ end }}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
{{ if eq (.Lang) ("ja") }}
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">モード</a>
{{ end }}
{{ if eq (.Lang) ("en") }}
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mode</a>
{{ end }}
          <ul class="dropdown-menu">
{{ if eq (.Lang) ("ja") }}
            <li ><a href="index.html">ふつう</a></li>
            <li ><a href="index_hard.html">むずかしい</a></li>
{{ end }}
{{ if eq (.Lang) ("en") }}
            <li ><a href="index_en.html">Normal</a></li>
            <li ><a href="index_en_hard.html">Hard</a></li>
{{ end }}
          </ul>
        </li>
      </ul>
      <div class="navbar-right">
        <img alt="Mini4WD01" src="static/img/PPGreen.png" style="height: 50px;" />
        <img alt="Mini4WD02" src="static/img/PPRed.png" style="height: 40px;" />
        <img alt="Mini4WD03" src="static/img/PPBlue.png" style="height: 30px;" />
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">

{{ if eq (.Lang) ("ja") }}
<div class="row">
<div class="col-xs-3">
<button onclick="runCode()" id="runButton" class="btn btn-primary btn-block">はじめる</button>
</div>
<div class="col-xs-3">
<button onclick="stopCode()" id="stopButton" class="btn btn-danger btn-block">とめる</button>
</div>
<div class="col-xs-3">
<button onclick="clearCode()" id="clearButton" class="btn btn-danger btn-block">けす</button>
</div>
</div>
{{ end }}
{{ if eq (.Lang) ("en") }}
<div class="row">
<div class="col-xs-3">
<button onclick="runCode()" id="runButton" class="btn btn-primary btn-block">Run</button>
</div>
<div class="col-xs-3">
<button onclick="stopCode()" id="stopButton" class="btn btn-danger btn-block">Stop</button>
</div>
<div class="col-xs-3">
<button onclick="clearCode()" id="clearButton" class="btn btn-danger btn-block">Discard</button>
</div>
</div>
{{ end }}

<div class="row">
  <div id="blocklyDiv" style="height: 520px;" class="col-sm-8"></div>
  <div class="col-sm-4">
    <textarea id="output" readonly class="form-control"
              style="display: inline-block; height: 160px;">
    </textarea>
  </div>
</div>

<xml id="toolbox" style="display: none">
{{ if eq (.Mode) ("hard")}}
<!--   <category name="%{BKY_CATEGORY_VARIABLE}" custom="VARIABLE"></category> -->
  <category name="%{BKY_CATEGORY_LOOP}">
<!--    <block type="controls_repeat_ext"></block> -->
    <block type="controls_repeat"><field name="TIMES">1</field></block>
    <block type="controls_repeat"><field name="TIMES">3</field></block>
    <block type="controls_repeat"><field name="TIMES">5</field></block>
<!--     <block type="controls_whileUntil"></block> -->
<!--    <block type="controls_for"></block>-->
<!--    <block type="controls_forEach"></block>-->
<!--     <block type="controls_flow_statements"></block> -->
  </category>
<!--   <category name="%{BKY_CATEGORY_LOGIC}"> -->
<!--     <block type="logic_compare"></block> -->
<!--    <block type="logic_operation"></block> -->
<!--    <block type="logic_boolean"></block> -->
<!--   </category> -->
<!--   <category name="%{BKY_CATEGORY_CONTROL}"> -->
<!--     <block type="controls_if"></block> -->
<!--     </block> -->
<!--   </category> -->
  <category name="%{BKY_CATEGORY_WAIT}">
    <block type="wait_seconds"><field name="SECONDS">1</field></block>
    <block type="wait_seconds"><field name="SECONDS">3</field></block>
    <block type="wait_seconds"><field name="SECONDS">5</field></block>
  </category>
  <!-- <category name="%{BKY_CATEGORY_NUMBER}">
    <block type="math_number"><field name="NUM">5</field></block>
    <block type="math_number"><field name="NUM">10</field></block>
    <block type="math_number"><field name="NUM">20</field></block>
    <block type="math_number"><field name="NUM">30</field></block>
    <block type="math_number"><field name="NUM">40</field></block>
    <block type="math_number"><field name="NUM">50</field></block>
    <block type="math_number"><field name="NUM">100</field></block>
    <block type="math_number"><field name="NUM">200</field></block>
  </category> -->
  <category name="%{BKY_CATEGORY_MINI_4WD}">
    <block type="webapi_forward"></block>
    <block type="webapi_back"></block>
    <block type="webapi_go_forward"></block>
    <block type="webapi_go_back"></block>
    <block type="webapi_stop"></block>
    <block type="webapi_drive"></block>
    <block type="webapi_turnright"></block>
    <block type="webapi_turnleft"></block>
    <block type="webapi_turnfront"></block>
    <block type="webapi_servo"></block>
    <!-- <block type="webapi_irgun"></block> -->
    <block type="webapi_info"></block>
    <!-- <block type="webapi_distance"></block> -->
  </category>
{{ else }}
  <category name="%{BKY_CATEGORY_MINI_4WD}">
    <block type="webapi_forward"></block>
    <block type="webapi_back"></block>
    <block type="webapi_drive"></block>
    <block type="webapi_turnright"></block>
    <block type="webapi_turnleft"></block>
    <block type="webapi_turnfront"></block>
    <block type="webapi_servo"></block>
    <!-- <block type="webapi_irgun"></block> -->
    <block type="webapi_info"></block>
    <!-- <block type="webapi_distance"></block> -->
  </category>
{{ end }}
</xml>
<xml id="startBlocks" style="display: none">
  <block type="webapi_turnfront" x=30 y=0><next>
  <block type="webapi_forward"><field name="option">2</field><field name="command">slow</field><next>
  <block type="webapi_turnright"><next>
  <block type="webapi_turnfront"><next>
  <block type="webapi_drive"><field name="distance">10</field><field name="command">slow</field><next>
          
  </next></block>
  </next></block>
  </next></block>
  </next></block>
  </next></block>
</xml>

<script>
  var workspacePlayground = Blockly.inject('blocklyDiv',
    {toolbox: document.getElementById('toolbox'),
     zoom: {controls: true}});
  Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'),
                             workspacePlayground);

  // Exit is used to signal the end of a script.
  Blockly.JavaScript.addReservedWords('exit');

  var outputArea    = document.getElementById('output');
  var runButton     = document.getElementById('runButton');
  var myInterprpeter = null;
  var runner;

  // for Webapi window.alert()
  function alert(text) {
    text = text ? text.toString() : '';
    outputArea.value += '\n' + text;
  }

  function initApi(interpreter, scope) {
    // Add an API function for the alert() block, generated for "text_print" blocks.
    var wrapper = function(text) {
      text = text ? text.toString() : '';
      outputArea.value = outputArea.value + '\n' + text;
    };
    interpreter.setProperty(scope, 'alert',
        interpreter.createNativeFunction(wrapper));

    // Add an API function for the prompt() block.
    var wrapper = function(text) {
      text = text ? text.toString() : '';
      return interpreter.createPrimitive(prompt(text));
    };
    interpreter.setProperty(scope, 'prompt',
        interpreter.createNativeFunction(wrapper));

    // Add an API function for $.ajax
    interpreter.setProperty(scope, '$', scope, Interpreter.READONLY_DESCRIPTOR);
    var wrapper = function(options) {
      options = options ? interpreter.pseudoToNative(options) : undefined;
      return interpreter.createPrimitive($.ajax(options));
    };
    interpreter.setProperty(scope, 'ajax',
        interpreter.createNativeFunction(wrapper));

    // Add an API for the wait block.  See wait_block.js
    initInterpreterWaitForSeconds(interpreter, scope);

    // Add an API for the webapi blocks.  See webapi.js
    initInterpreterWebapi(interpreter, scope);
  
    // Add an API function for highlighting blocks.
    var wrapper = function(id) {
      id = id ? id.toString() : '';
      return interpreter.createPrimitive(highlightBlock(id));
    };
    interpreter.setProperty(scope, 'highlightBlock',
        interpreter.createNativeFunction(wrapper));
  }

  var highlightPause = false;
  var latestCode = '';

  function highlightBlock(id) {
    workspacePlayground.highlightBlock(id);
    highlightPause = true;
  }

  function resetStepUi(clearOutput) {
    workspacePlayground.highlightBlock(null);
    highlightPause = false;
    runButton.disabled = '';

    if (clearOutput) {
      outputArea.value = 'Program output:\n=================';
    }
  }

  function generateCodeAndLoadIntoInterpreter() {
    // Generate JavaScript code and parse it.
    Blockly.JavaScript.STATEMENT_PREFIX = 'highlightBlock(%1);\n';
    Blockly.JavaScript.addReservedWords('highlightBlock');
    latestCode = Blockly.JavaScript.workspaceToCode(workspacePlayground);

    resetStepUi(true);
  }

  function resetInterpreter() {
    myInterpreter = null;
    if (runner) {
      clearTimeout(runner);
      runner = null;
    }
  }

  function saveCode() {
    var xml = Blockly.Xml.workspaceToDom(workspacePlayground);
    var xml_text = Blockly.Xml.domToText(xml);
    var e = document.getElementById("saveCode");
    e.href = "data:application/octet-stream;charset=utf-8," + encodeURIComponent(xml_text);
    return true;
  }

  function loadCode() {
    var fs = document.getElementById("loadCode").files;
    var f = fs[0];
    var reader = new FileReader();
    reader.onload = function() {
      var xml = Blockly.Xml.textToDom(reader.result);
      Blockly.Xml.domToWorkspace(xml, workspacePlayground);
    };
    reader.readAsText(f);
  }

  function runCode() {
    if (!myInterpreter) {
      // First statement of this code.
      // Clear the program output.
      resetStepUi(true);
      runButton.disabled = 'disabled';

      // And then show generated code in an alert.
      // In a timeout to allow the outputArea.value to reset first.
      setTimeout(function() {
        // Begin execution
        highlightPause = false;
        myInterpreter = new Interpreter(latestCode, initApi);
        runner = function() {
          if (myInterpreter) {
            var hasMore = myInterpreter.run();
            if (hasMore) {
              // Execution is currently blocked by some async call.
              // Try again later.
              setTimeout(runner, 10);
            } else {
              // Program is complete.
              outputArea.value += '\n\n<< Program complete >>';
              resetInterpreter();
              resetStepUi(false);
            }
          }
        };
        runner();
      }, 1);
      return;
    }
  }

  function stopCode() {
    resetInterpreter();
    resetStepUi(false);
    outputArea.value += '\n\n<< Program interrupted >>';
  }

  function clearCode() {
    workspacePlayground.clear();
  }

  // Load the interpreter now, and upon future changes.
  generateCodeAndLoadIntoInterpreter();
  workspacePlayground.addChangeListener(function(event) {
    if (!(event instanceof Blockly.Events.Ui)) {
      // Something changed. Parser needs to be reloaded.
      resetInterpreter();
      generateCodeAndLoadIntoInterpreter();
    }
  });
</script>

</body>
</html>
